<div class="row justify-content-center">
	<div class="col-sm-3 col-md-2 col-lg-1 align-self-center text-center">
		<p><a href="{{ url_for('privacy')}}">
			<img src="{{ url_for('static', filename='privacy.svg')}}" class="w-25"></a></p>
		<small class="text-muted">Privacy Notes</small>
	</div>
	<div class="col-sm-3 col-md-2 col-lg-1 align-self-center text-center">
		<p><a href="https://github.com/JohnBioinf/RNAcode_web">
			<img src="{{ url_for('static', filename='github.svg')}}" class="w-50"></a></p>
		<small class="text-muted">see source on GitHub</small>
	</div>
	<div class="col-sm-3 col-md-2 col-lg-1 align-self-center text-center">
		<p><a href="https://www.bioinf.uni-leipzig.de/">
			<img src="{{ url_for('static', filename='bierinformatik-sw.svg')}}" class="w-75"></a></p>
		<small class="text-muted">Bioinformatics Leipzig</small>
	</div>
	<div class="col-sm-3 col-md-2 col-lg-1 align-self-center text-center">
		<p><a href="https://www.uni-leipzig.de/">
			<img src="{{ url_for('static', filename='uni_leipzig_schrift.png')}}" class="w-100"></a></p>
		<small class="text-muted">Leipzig University</small>
	</div>
</div>
